@font-face {
    font-family: 'harry';
    src: url(Harry.ttf) format('ttf');
    font-weight: bold;
}
body{
    background-image: url('images/hogwardswallpaper.jpg'); 
    background-repeat: no-repeat; 
    background-size:cover;
    background-attachment: scroll;
}


/*page*/
.page{
    width:1000px;
    background-color: lightgray;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
   
}

/* Header*/
header{
    display: flex;
    width: 1000px;
    height: 90px;
    margin-top: 30px;
    font-family: 'harry';
    justify-content: space-between;
    background-color: #78c4f3;
    align-items: center;
}
.logo{
    display: flex;
    width: 300px;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 5px;
}
#imghp{
    width: 50px;
    height: 50px;
    padding-top: 18px;
    padding-bottom: 5px;
    padding-right: 7px;
    padding-left:5px ;
}
nav{
    display: flex;
    padding-right: 20px;
    width: 400px;  
}
nav a{
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    color:  #333;
    padding-left: 20px;
}
nav a:hover{color: antiquewhite;}

/*slider*/
{box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    margin-top: 30px;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*content*/
.content{
    display: flex;
   
}


.left{
    width: 290px;
    height: 370px;
    background-color:#fb908f;
    margin-left: 20px;
    padding:12px;
    text-align: justify;
}
h2{
    text-align: center;
}
.center{
    width: 290px;
    height: 370px;
    margin-left: 15px;
    padding: 12px;
    text-align: justify;
    background-color: #91ced1;

}

.right{
    width: 290px;
    height: 370px;
    padding: 12px;
    text-align: justify;
    margin-right: 20px;
    margin-left: 17px;
    background-color: #c6e6f8;

}

/*footer*/
.footer{
    width: 1000px;
    height: 130px;
    background-color:  #333333;
    margin-top: 15px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
}
#leftfoot{
    display: flex;
    width: 300px;
    padding-left: 60px;
    padding-top: 38px;
}
#leftfoot img{
    padding-left: 20px;
    opacity: 0.6;
    width: 45px;
    height: 45px;
}
#rightfoot{
    display: flex;
    width: 300px;
    padding-top: 38px;
    padding-right: 40px;
    font-size: 20px;
    color: aliceblue;
}

#credits{
    display: flex;
    height: 50px;
    background-color:  #0a0a0a;
    padding-left: 250px;    
}

#credits a{
    display: flex;
    color: aliceblue;
    font-size: 17px;
    text-align: center;
    padding-top: 14px;
    padding-left: 30px;
    text-decoration: none;
}
#credits a:hover{color: #16a8e2;}

